language: ruby
dist: trusty
sudo: required
rvm:
  - 2.6.2
apt:
  sources:
    - ubuntu-sdk-team
  packages:
    - qt5-default
    - libqt5webkit5-dev
    - gstreamer1.0-plugins-base
    - gstreamer1.0-tools
    - gstreamer1.0-x

install: bundle install --jobs=3 --retry=3 --with webkit

env:
  global:
    - ARTIFACTS_DEBUG=0
    - ARTIFACTS_REGION="eu-west-1"
    - CI_ARTIFACTS_PATH="https://s3-eu-west-1.amazonaws.com/howitzer-example-travis/$TRAVIS_REPO_SLUG/$TRAVIS_BUILD_NUMBER/$TRAVIS_JOB_NUMBER/"

  matrix:
    - SEXY_SETTINGS=SEXY_SETTINGS + ",driver=poltergeist"
    - SEXY_SETTINGS=driver=headless_chrome
    - SEXY_SETTINGS=driver=webkit
    - secure: "uniqBeHmBYWzH0N1DxObK4ydrDp5qyf409oKVpDUfPQCwfllTgozNuoy5hmjGAyljcx2kQCG3f6QbHDCbIJ4d8ip0QJ8SWXAplFORIeaab61RrXnFpv3yVzQH6axnUF+RBZ11AaopMg3zSwahDf5fwVrtZBwV34qFsxPj448bT7m6RiCvy9PyyD8pvETTVGI4fmoOOLYZthYG47QhQnrHD6ETDYACd6zmguQIQwB1exprORti/B8MYLQeaEdhG1Q84PyBJkMCdqg3Lxp+eeZtKcFL67JqAk2CNSQUUKngXlGnk9CeQ6et8gBfD3ZvysJhH2bqHyE+d42GZsVPZKkXXLxz/l0bU/4AmyKGUy5pbZVw+aEtdaLez2HCbNMSqCZyTMzHGTHjAXPIB5gIjOV+nM/CDyyaeyhEKSAViTVdg4+CLa3wAsLN1OlWcMa46dD7kPWgouRMmrGYNHooAcy3p8oLtwuNWoaw6Fhi9rv+FH8VKBu0Y78TMP8gS3axCTsgn2WEYmMyHg8/E10wRs8G0ZGwFcskFQ8qB2GIpO7O8QA3NCZ0A59/5z/DI70XUdG9wkMk1a4AigJnBHSnUyODLQybhf81pafarj5uOHaErLXBtv1xOQNo1gQQcEYqt6HVWCNwYBJxgdMhziCusRi/Ru1P0WfYLnINtZMLMBWW0E=" #driver=sauce
    - secure: "f24fzdhSzxlNIYtCmYNWfcM4zFZlzNEkOWGfRqJh3Jurz9SpwSXIWwTlXa6J+1FAe+AS7yHdp5TqXmzYm9LIHOXWxsAhOYSC0ueADrTZqslWN6RQ4Skr0tHZm/4MAJfSIWYUVsllo78u1KiTEaOVsnu6yJWdcwr6sA1HSvid2myn4SUqSsm2GNry0Yqb2qBUj6y7YBWUSZdusl2jERVUhMPpvr5gSquZC8H0OYDF/5OCuk8XgLwBPPFEHT3dezx0fusQaDajYag05LI5NO6F8W+IOk36speRHkdfjPyGgS4PTp0pMhRy5WCpXXQ/80JiCSXp+4U2a3IunaisckDkJrSuI3zk9Xc8KLITYX2kH58K9VMMkw9CGpXOWExqIAXaQBFSMnVaIEHiTzWs3IumxWEzfCswuXoc44wSRMzqwZnwA10QaWdGHrOpGmaaKdmST15NbgqLI313vd37k4Hp08FVD4m2CzgoMlqC53DJV8c6k3IfOc875fwEQWGgLtZ2FrLC0UW/MJoWq238ss4T12pAZF4NkIRxMpUV0HfRW1hpMio02qk7qfUpWVVclg/zGqxGTG9ctbU31sVvolMmtwd9AR2tMmSmyTAonlgA8vxGathYSXdgLLpbXbWRFWOFHOZGJpdGCaDc42NhPkaobpguntKj8DzNmaKf3l16OtA=" #driver=testingbot
    - secure: "dhaXaeTTLVOxkBfCvt/+yPlP+hOKvdWHCXE7sbDDsCIj/v5WEK724LUalMbDfJHolndnKqSN4fccjmCMIPeuioOIGt54kHmz3atq9PZuegYu6qVSuLr1ugANw3V99a6YDxZLdruL0JHHCwuTxLYLoWT//u8y4tMsbUZQokNel3mqQx3o/x7OrPKVUg0V5i8Myb8yBtV+9SKw1wQaK3U5jR4e9ze7bhINlJSUaBEe1t55KSptsEfnhwL+LY76i+tMYDrl5EcrjK/8Y6gsHZAocXJYuu5MNeHdg4ufwSafO9vm9fssWhQvs+TkHrtxDwc8qgXQT4X1UMZyeRuZFYKd8LfuaCikL3+FAx/9MmbLXv5RaLZBxlDtw5MglmDaSRGzLEfuhADi0fWfmaxHGQjEU3BTWKiFtesHO1i7eA2xwhMoj0Vakpl2rBCVp0ckZ9vxhEO8gEZulYBU6xb968DNO4d5Qvh5WOBu9F3ftu+7p5x5lbPtsa3HYtslPaCpvov6qLOroeOJBcDJ3yNmq1d4gkOgH7QlYAWVTuBSz7UY25nNL6LM+fbc2jOev1/JrQ4li3cSNx38x5jF3FNQKEJBkFibyiwGAe24zypaMafswTpMGLbOeBGx60U+nRkXPw1FfT8zwiqNI5Phttd1zHdS7J6MEMEB2tCwXlegQffVgjo=" #driver=browserstack
    - secure: "XRQ04Igl9AWAYrMxHJB93BPPAT0ZHMdFeSwMjb4LlSRujU3/Rmp3f/ZgGYonChMs137MqGcraG722DSdbQs5NFthaL3iIl997Hdke6f/41XYYnn8UiI3QU4f1h4f7umr0cDOn+ewdh/TGuKaRWCEYkmT2VAqszepcGa8wnhcoy21YxlKC/AsQOfOeCHYa/Y/yhHVSVW3lxwg8g7wZswfabhR7ITKGXJnvvrFv2+chh+pW+BDo3cs+zQod0/ETYDQvA8ZO5imgx7CsQiahK6fsOK9rWlfCcYPC6Hn4SMm4VJ3Ezlm9MUfd7vyziHei9uZHgs7hPBURwsvEHJ8Rt0rxCzmeDz9ihFDbs9d1RDfEKFtpAuZ5MGrqQPm6555VLn0RmIb5NxBf8/J+Cq/0iKAeJLKStjTGjwS9jpWE1bAhTKJCUwM7ATN9qhmKosu2uYL33ZsA4+54D8YsHZ8ucA/p/NZDXOPFh1tNzz4/9TlWL0Jl7dHoxdvaxuyoc6xHKzvLqcCvxLRLJFlePJaZzLxitSB7u4jtIlUeR4gRki54XL20lQb6mCi5JQN5lnaTX4g//KVl82N6QvmI54Zxd6jftJ+IiPDfkTId3gzFR53Sy9SUJoa3OgjPxOTJSDFp/I4lv1oIxxbBnZCBx6aN2rYlG3OoUSQtke3/6DKG+CFJm8=" #driver=crossbrowsertesting


addons:
  chrome: stable
  artifacts:
    key:
      secure: "gdQTTFauwapAwLlAm6TqkbRtKWi8HXH/h/oWoElbTnOMXGOv0+KWWRh3CA85p4Qbw/7UOl/1kHSWnlu5EHEUjsOgIoArffFHAqf6/PGgQHA800O3I83sTqWKOINs0i9v8XF0Rhj9HVmjIALVsMMGztQj+P+5Pbtzyzo1CJAYqyw4hNd8z+bU3qdLMXxY1UW/xu3lFjnT36zkaak9AhnK5d5AnQUiL5hONsyntIZ9AxohS1Q8ckHln/IWsbDHeUw9wsB0AOBYncO5u3ZNhvzHdjaHIG7XDKJ3fsz55xz2cwrTNfbWYU4/fcfpeYCVE6MC4+lfZ+DmrBYlieGsYPDD/ef9AY6jV+kJtwzZ+idD6ZAxMjtZFdjf2Ya0RTaE2nFANuIpOORquAJra8csAtzVlYhp0pOTwR0YIfIFye+KSqOCzSn4V1lG+Yc4NPUn3ToO426ey9f0hz8ApNRxmIUiVq9oN6qb5gHCpLi2GWCOrJl9G5bPRHxXpLffYDUX/i15My0s6GH0UVXLaAQmw94qSkfUyBJFsg4ug5p8IHB23E6YD2N675fgvfPidn0WFJlYo/hqjZTqoWq3FoBdRsUoQWCV9fnA2Kb6Ilnw+rDQ4CJ1CLq7KjiP93rnps8V+v/hGx4hvIUC+Z8Y/u9HvHlbxLs1CtlprVPnwF1eJZncZUI="
    secret:
      secure: "YRgTCXFnt0LvpzOKB5TnZMsWLrZiu0QbKuR1op9wVQuWzKXsZMuSS6hKFJkDPXMSoKvgKREEeVRSZSjte2jJ+dpyCYCns1aWcYRYuKNntfkyZFTUBYfbinHhbZKTkYNPPsWFEoER111Wpdgn//eT1YWn1VhmFdp1exUANwM8A5v1U6iBcnOzDhYC3Jsr+2/SfiPyM1lL36bllafph00sTrnos8TivT/3XLXcjMlzHjJSQnZG4xQY2UoA4EDNSG0otM3nmPRpYrJfCj4A+yGkfNe7Qq8K3hvAY9x6KHmSb/KqXvrNga1xcvk0aQ7fIkoZukVFKRygrCp9YICf2R2dg7vMoE/2Twsto+s9R456NLiC6ib9TiOr41gPj9TqPW04BW3iynGjcLXw6A1HXMdr4XbHkprRBWwdJp0oxzfotLYTyb5pb6mT/41GDMFgMWf/La7gHg24lT/TaI80nulllz9pIpDnBIObNw4Vrd24HPThLDgJQzuD63YVGQGPzGOe4d2hB1a8SKqZiHBgBHbNQijFCxm/yJrr9LlACBG3y41NLUN28gR3LJYhgJPu5DT7Sg4/gWmnWJIGE4m1wJ3SWngVAVlxUr6OGN26k9PnmlThccJLydl3R/kOUXDMm3nQKyjMCI68AF49BrbC6GqFB4EuEDLeWrMwbdvpdN0/B/Q="
    bucket: howitzer-example-travis
    paths:
      - $(find log -type f | tr "\n" ":")

script: "./scripts/run-tests.sh"
